h2, h3 {color: $secondary;}
h4, h5 {color: $tertery;}

#logo {
    @include hide-text;
    @include clean;
    background: url("../img/AtticLogo.svg") top center no-repeat;
    // width: 235px;
    max-width: 100%;
    height: 110px;
    margin-top: 1rem;
    @media screen and (min-width: 991px) and (max-width: 1201px) {
        max-width: 140%;
        margin: auto;
    }
}

.headsection {
    h1, h2, h3, h4, h5 {
        color: white;
    }
    .logo {
        // padding: 2rem;

    }
    h3 {
        @include clean;
        line-height: 2rem;
        padding: 1rem 0;
        // @include bp(xxsmall,ipad) {
        @media screen and (min-width: 0px) and (max-width: 990px) {
            text-align: center !important;
            // color: red;
            line-height: 1.5em;
        }
    }
    // Navigation
    .nav {
        margin-top: 2rem;
        .dropdown {
            padding-top: 0;
            margin-top: 0;
        }
        .dropdown-toggle {
            border: 0px;
            &:hover {
                border: 0px;
            }
        }
        .col-md-12 {
            width: auto;
            // padding: 0 2rem;
        }
    }
}

footer {
    h1, h2, h3, h4, h5 {
        color: $primary;
    }
}

.colours {
    padding: 0;
    margin: 0;
    ul {
        display: block;
        height: 0.5rem;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
            display: inline;
            float: left;
            height: 0.5rem;
            width: 20%;
        }
    }
    .one {
        background-color: $primary;
    }
    .two {
        background-color: $secondary;
    }
    .three {
        background-color: $tertery;
    }
    .four {
        background-color: $sub1;
    }
    .five {
        background-color: $sub2;
    }
}

.headsection {
    @include topgradient;
    .nav {padding-left: 1rem;}
    .dropdown-toggle {
        @include darkgradient;
        // background-color: red;
        // margin-left: 1em;
        color: white;
        // &::first-child {
        // 	margin-left: 0;
        // }
        a {
            @include bp(min, ipad) {
                margin-left: 0;
            }
        }
    }
    ul.nav-tabs {
        > li {
            > a {
                @include bp(ipad, max) {
                    margin-left: 1em;
                }
            }
        }
        > li:first-child {
            // a {margin-left: 0;}

        }
    }
}

footer {
    @include topgradient;
}

.featuredsection {
    @include diaggradient;
    min-height: 466px;
}

.page-header {
    color: white;
    .input-group {
        float: right;
    }
}

.nav-tabs.nav-justified > li > a {
    border-bottom: none;
}

.carousel-inner {
    background-color: transparent;
    color: white;
}

ul.nav {
    margin-bottom: 1px;
}

li.dropdown {
    margin: 0 2px;
}

.dropdown-menu {
    margin-left: 1em;
    background-color: #3F9593;
    color: white;
    li {
        // color: white;
        font-size: 1.1em;
        a {
            padding: 0.5em 0.75em;
            color: white !important;
            border-bottom: 1px solid rgba(black, 0.1);
            &:hover {
                background: $dark;
            }
        }
        &:last-child {
            a {
                border: none;
            }
        }
    }
}

// Submenu

.submenu {
    margin: 2rem 0;
    li {}
    @media screen and (min-width: 0) and (max-width: 990px) {
        display: none;
    }

    .dropdown-toggle {
        padding: 0;
        background-color: #086763;
        @include topgradient;
        color: white;
        margin-left: 1em;
        z-index: 2;
        box-shadow: rgba(black, 0.4) 0px 1px 3px;
        @media screen and (min-width: 0) and (max-width: 767px) {
            margin-left: 0;
        }
    }
    span {
        // background-color: red;
        // height: auto!important;
        width: 2em;
        height: auto;
        font-size: 2em;
        padding: 1rem;
        line-height: 2em;
        float: left;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        @include altgradient;
        text-shadow: rgba(black, 0.4) 0px 1px 3px;
        @media screen and (min-width: 769px) and (max-width: 990px) {
            // min-height: 120px;
            // background: none;
            // display: none;
        }
        @media screen and (min-width: 1201px) {
            height: 60px;
            line-height: 1.5em;
        }
    }
    .dropdown-toggle:hover {
        span {
            @include orangegrad;
        }
    }
    strong {
        line-height: 1.3em;
        position: relative;
        top: 0.7em;
        padding: 0 0.7em;
    }
    .dropdown-menu {
        width: auto;
        margin-left: 90px;
        padding: 1em;
        // float: right;
        // position: relative;
        right: 0;
        background-color: #003D39;
        color: white;
        margin-top: -1px;
        border-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: -5px;
        margin-right: -1px;
        z-index: 1;
        @media screen and (min-width: 0px) and (max-width: 990px) {
            display: none!important;
        }
    }
}

footer {
    h5 {
        min-height: 2em;
        border-bottom: 1px rgba(black, 0.2) solid;
        padding-bottom: 0em;
        color: $sub1;
        font-size: 1.6rem;
    }
    ul.links {
        // padding-left: 0;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-left: 0.7em;
            text-indent: -.3em;
            &:before {
                content: "• ";
                color: white;
                /* or whatever color you prefer */
            }
        }
    }
    a {
        color: white;
    }
}

.lower-footer {
    color: white;
}

// Carousel

.hero {
    h1 {
        text-transform: uppercase;
        padding: 1rem 0 2rem 0;
        font-weight: 600;
        font-size: 5rem;
        text-shadow: rgba(black, 0.4) 0 2px 2px;
        span {
            font-weight: 200;
            display: block;
        }
        @media screen and (min-width: 0px) and (max-width: 768px) {
            font-size: 3rem;
        }
    }
    p {
        font-size: 2.0rem;
        padding: 1rem 0;
    }
}

span.fa-chevron-circle-right {
    padding-left: 0.5em;
}

// Search Bar in Header
.headsection {
    input {
        color: $light;
    }
    .form-control, .input-group-addon {
        background-color: $primary;
        border: 1px solid $dark;
    }
    .fa-search {
        color: $lightorange;
    }
}

.readmore {
    color: $sub2;
    // padding-left: 1em;
    // &:after {
    //     content: " >";
    //     // color: white; /* or whatever color you prefer
    // }
    .fa-chevron-circle-right {
        margin-left: 0.5em;
    }
    &:hover {
        text-decoration: none;
        color: $darkorange;
    }
}

// Blog Feed
.blogfeed {
    h5 {}
    p {
        color: white;
    }
}

.breadfull {
    background-color: #012d2b;
    ol {
        @include clean;
        padding: 0.5rem 0;
        background-color: #012d2b;
        color: white;
        a {
            color: white;
        }
    }
}
// .breadcrumb > li + li::before {color: $sub2;}
.breadcrumb li.active {color: $sub2;}

.sidebar {
    ul {
        li {}
    }
}

.sidelinks {
    @include clean;
    li {
        list-style: none;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #E1E1E1;
        a {
            color: $tertery;
        }
    }
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

.hero {
    @media screen and (min-width: 0px) and (max-width: 768px) {
        img {
            display: none;
        }
    }
}

.headsection .dropdown > .dropdown-toggle {
    margin-left: 1em;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .btn {
        width: 100%;
    }
    .headsection .dropdown > .dropdown-toggle {
        margin-left: 0em;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .carousel .item {
        padding-top: 2rem;
        p {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

@media screen and (min-width: 0) and (max-width: 769px) {
    ul.nav-pills li:first-child a {
        margin-left: 0;
    }
    ul.nav-pills li {
        // margin-left: 0;

    }
    .open > .dropdown-menu {
        display: none !important;
    }
    .submenu .dropdown-toggle {
        // margin-left: 0;

    }
}

@media screen and (min-width: 0) and (max-width: 450px) {
    .inlinelist, .share-buttons {
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4000px) {
	.subpage {
		background: url('../img/atticStorageBannerImages1.png') top right no-repeat;
	}
}

// .headsection .dropdown-toggle {
//     font-size: 1.4rem;
//     float: none;
//     span {
//         font-size: 1.4rem;
//     }
// }


@media screen and (min-width: 0) and (max-width: 1201px) {
    .headsection .dropdown .dropdown-toggle {
        font-size: 1.4rem;
        span {
            @include clean;
            float: none;
            font-size: 1.4rem;
            font-weight: regular;
            display: block;
            }
        }
}
@media screen and (min-width: 0) and (max-width: 767px) {
    .headsection .dropdown .dropdown-toggle {
        font-size: 2rem;
        font-weight: bold;
        span {
            @include clean;
            float: none;
            font-size: 2rem;
            font-weight: bold;
            display: inline;
            }
        }
}
@media screen and (min-width: 991px) and (max-width: 4000px) {
    // .submenu span {
    //     font-size: 3rem;
    //     // line-height: 2rem;
    //     padding: 1rem;
    //     position: relative;
    //     left: -2px;
    //     top: -2px;
    // }
}