footer
	.container
		.row
			.column.col-md-2
				h5 About Us
				ul.links
					li
						a(href="#") About Us
					li
						a(href="#") Environmental Policy
					li
						a(href="#") Contact Us
					li
						a(href="#") Cookie Policy
					li
						a(href="#") Great Customer Service
					li
						a(href="#") Terms & Conditions
					li
						a(href="#") Testimonials
					li
						a(href="#") Company Details
					li
						a(href="#") Privacy Policy
					li
						a(href="#") Community News
			.column.col-md-2
				h5 What is Self Storage?
				ul.links
					li
						a(href="#") Home Storage
					li
						a(href="#") Personal Storage Units
					li
						a(href="#") Secure Storage
					li
						a(href="#") 24 Hour Storage
					li
						a(href="#") Business Storage
					li
						a(href="#") Student Self Storage London
					li
						a(href="#") About our Business Services
			.column.col-md-2
				h5 Useful Information
				ul.links
					li
						a(href="#") Opening hours
					li
						a(href="#") Collection and Delivery
					li
						a(href="#") Frequently Asked Questions
					li
						a(href="#") Self Storage Special Offers
					li
						a(href="#") Storage Space Estimator
					li
						a(href="#") Insurance for Self Storage
					li
						a(href="#") Sitemap
			.column.col-md-2
				h5 Find Us
				ul.links
					li
						a(href="#") Storage East London
					li
						a(href="#") London Storage
					li
						a(href="#") Storage Bow
					li
						a(href="#") Storage Hackney
					li
						a(href="#") Storage Whitechapel
					li
						a(href="#") Storage Stratford London
					li
						a(href="#") Westfield Stratford City Storage Solutions
					li
						a(href="#") Storage Leyton
					li
						a(href="#") Storage Greenwich
			.column.col-md-4.blogfeed
				h5 Blog Feed
				p 17:00 May 20th, 2015
				h4 2015 SSA UK Annual Survey Released
				p Self Storage Survey Paints Positive Picture The 2015 annual survey into self storage in the United Kingdom has been released by the SSA UK and Cushman
				a.readmore(href="#") Read More
					i.fa.fa-chevron-circle-right
				.row
					ul.badges
						li.col-xs-4
							a(href="#")
								img.img-responsive(src="http://www.atticstorage.co.uk/images/themes/002/SSAUK_cmyk_logo_high2.jpg")
						li.col-xs-4
							a(href="#")
								img.img-responsive(src="http://www.atticstorage.co.uk/images/themes/002/FEDESSAlogo2.png")
						li.col-xs-4
							a(href="#")
								img.img-responsive(src="http://www.atticstorage.co.uk/images/themes/002/living.jpg")
		.lower-footer
			p Attic Self Storage &copy; 2015 All rights reserved
			ul.inlinelist
				li
					a(href="#") Blog
				li
					a(href="#") Blog RSS Feed
				li
					a(href="#") RSS Feed
				li
					a(href="#") Facebook RSS
				li
					a(href="#") Youtube RSS
			ul.share-buttons.col-md-2
				li
					a(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhttp%3A%2F%2Fatticstorage.co.uk&t=Attic%20Storage', target='_blank', title='Share on Facebook')
						i.fa.fa-facebook-square.fa-2x
				li
					a(href='https://twitter.com/intent/tweet?source=http%3A%2F%2Fhttp%3A%2F%2Fatticstorage.co.uk&text=Attic%20Storage:%20http%3A%2F%2Fhttp%3A%2F%2Fatticstorage.co.uk&via=atticstorage', target='_blank', title='Tweet')
						i.fa.fa-twitter-square.fa-2x
				li
					a(href='https://plus.google.com/share?url=http%3A%2F%2Fhttp%3A%2F%2Fatticstorage.co.uk', target='_blank', title='Share on Google+')
						i.fa.fa-google-plus-square.fa-2x
				li
					a(href='http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fhttp%3A%2F%2Fatticstorage.co.uk&title=Attic%20Storage&summary=Secure%20self%20storage%2C%20storage%2C%20self%20storage%2C%20removals%2C%20archiving%2C%20packaging%20materials&source=http%3A%2F%2Fhttp%3A%2F%2Fatticstorage.co.uk', target='_blank', title='Share on LinkedIn')
						i.fa.fa-linkedin-square.fa-2x
//- This will only load in Googlefonts is specified in the config file
if GoogleFonts
	link(href='//fonts.googlefonts.com/css?family=' + GoogleFonts, rel='stylesheet', type='text/css')
//- jQuery load in specified in config
if jQuery
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='js/scripts-post-min.js')