.row.colours
	ul
		li.one
		li.two
		li.three
		li.four
		li.five
.row.headsection
	.container
		h1#logo.col-md-4.col-md-offset-4.col-lg-2.page-header Attic Secure Self Storage
		.section.page-header.col-xs-12.col-lg-9.col-lg-offset-1
			h3.col-md-6 Call us now on
				a.tel(href="tel:02089816800")  020 8981 6800
			.input-group.col-md-4
				input(type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1")
				span.input-group-addon#basic-addon1
					i.fa.fa-search
			.clear
			include _navigation