#carousel-example-generic.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#carousel-example-generic', data-slide-to='0')
    li(data-target='#carousel-example-generic', data-slide-to='1')
    li(data-target='#carousel-example-generic', data-slide-to='2')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item.active
      .container.hero
        .col-sm-8
          h1 Easy Access
            span  24 Hours a Day
          p All our clients are offered complimentary 24hr access, 365 days a year. No hidden extra charges, just plain easy access, whenever you need it. Contact us or request a quote to find out more.
          p
            a.btn.btn-warning.btn-lg(href='#', role='button') Get a Quote
              span.fa.fa-chevron-circle-right
        img(src="img/atticStorageBannerImages2.png").col-sm-4
    .item
      .container.hero
        .col-sm-8
          h1 Award Winning
            span  Customer Service
          p Our self storage in London has won the
            strong  European Self Storage Awards 2012 Award for Customer Service.
            |  This prestigious award recognised the hard work and dedication our team puts in to all our clients.
          p
            a.btn.btn-warning.btn-lg(href='#', role='button') Get a Quote
              span.fa.fa-chevron-circle-right
        img(src="img/atticStorageBannerImages1.png").col-sm-4
    .item
      .container.hero
        .col-sm-8
          h1 Totally Secure
          p Indiviual unit alarms, electronic access control PINs, 24hr remote monitored digital CCTV, motion sensors, security patrols, client identity verification systems... To make sure your belongings are safe and secure, contact us now pr request a quote.
          p
            a.btn.btn-warning.btn-lg(href='#', role='button') Get a Quote
              span.fa.fa-chevron-circle-right
        img(src="img/atticStorageBannerImages3.png").col-sm-4
  // Controls
  //- a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
  //-   span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
  //-   span.sr-only Previous
  //- a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
  //-   span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
  //-   span.sr-only Next