.sidebar.col-md-3.fleft
	h3 Information
	ul.sidelinks
		li
			a(href="index.html") Home
		li
			a(href="#") Opening hours
		li
			a(href="#") Request a Quote
		li
			a(href="#") Contact Us
		li
			a(href="#") Great Customer Service
		li
			a(href="#") Help Information and Downloads
		li
			a(href="#") Self Storage Check-In
		li
			a(href="#") Pay Your Rent Online
		li
			a(href="#") Self Storage Blog
		li
			a(href="#") London Storage
		li
			a(href="#") Storage Locations
	.newsletter
		h4 Newsletter
		p Sign up to our newsletter to receive the latest news and offers from Attic Storage.
		input
	img.img-responsive.col-xs-6.col-sm-3.col-md-12(src="http://www.atticstorage.co.uk/img.ashx?i=/images/banners/Attic_storage_small_banner2.jpg")
	img.img-responsive.col-xs-6.col-sm-3.col-md-12(src="http://www.atticstorage.co.uk/img.ashx?i=/images/banners/Attic_storage_small_banner3.jpg")
	img.img-responsive.col-xs-6.col-sm-3.col-md-12(src="http://www.atticstorage.co.uk/img.ashx?i=/images/banners/Attic_storage_small_banner4.jpg")
	img.img-responsive.col-xs-6.col-sm-3.col-md-12(src="http://www.atticstorage.co.uk/img.ashx?i=/images/banners/Attic_storage_small_banner1.jpg")
