html {
    padding: 0;
    margin: 0;
}

.row {
    margin: 2rem 0;
    &.headsection {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.page-header, .nav {
    border-bottom: none;
}

.tel {
    color: white;
    @media screen and (min-width: 0) and (max-width: 990px) {
        font-size: 1.3em;
        display: block;
    }
    &:hover {
        color: $dark;
        text-decoration: none;
    }
}

.headsection.section {
    background-color: red;
}

.inlinelist {
    display: inline-block;
    li {
        display: inline;
        padding: 0 1rem;
        border-right: 1px #000 solid;
        &:last-child {
            border-right: none;
        }
    }
}

.submenu {
    li {
        a {
            min-height: 60px;
            @media screen and (min-width: 769px) and (max-width: 990px) {
                min-height: 90px;
                padding: 0.75rem!important;
            }
            @media screen and (min-width: 991px) and (max-width: 1201px) {
                min-height: 76px;
            }
        }
    }

}

footer {
    margin-top: 6rem;
    p {
        display: inline-block;
    }
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.container > .row {
    padding-bottom: 0;
    margin-bottom: 0;
}

.page-header {
    padding-bottom: 0;
    margin-bottom: 0;
}

.badges {
    padding-left: 0;
    margin: none;
    float: left;
    //   width: 100%;
    li {
        //     width: 33%;
        //     float: left;
        list-style: none;
    }
    //   img {
    //     max-width: 100%;
    //   }
}

.sidebar {
    img {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 990px) {
    .submenu .dropdown-toggle {
        span {
            float: left;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

.newsletter {
    background-color: rgba(black, 0.02);
    padding: 1rem;
    margin-top: 1rem;
    > input {
        width: 100%;
    }
}

.fa-phone-square {
    position: relative;
    bottom: -4px;
    padding-right: 1rem;
}

.clear {
    clear: both;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    @media screen and (min-width: 0) and (max-width: 767px) {
        display: none;
    }
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
}

// Carousel
.carousel-inner {
    .item {
        padding-top: 5rem;
        padding-bottom: 5rem;
        .container {}
    }
}

ul.share-buttons {
    list-style: none;
    padding: 0;
    float: right;
}

ul.share-buttons li {
    display: inline;
}

.fleft.svg {
    padding-left: 0;
}