- var ProjectName = "atticstorage"
- var PageTitle = "London Storage | Self Storage London | Attic Self Storage"
- var PageSlug = ""
- var MetaDesc = "London storage and self storage London; secure self storage protected by the latest security systems with 24/7 access, from accredited Attic Self Storage Ltd."
- var GoogleFonts = 'FredericdeRyckmandeBetz'
- var jQuery = false
- var Modernizr = false
//- Analytics Codes
//- - var Piwik = "12345"
//- - var GoogleAnalytics = "1234567"
- var BodyClasses = ['bodyclass_one','bodyclass_two']
