extends _master
append _config
	- var PageTitle = "London Storage | Self Storage London | Attic Self Storage"
	- var jQuery = false
	- var Modernizr = false
	- var PageSlug = "AwesomePage"
block body
	body
		include templates/includes/_header
		.featuredsection
			include templates/includes/_hero
		.container
			ul.nav.nav-pills.nav-justified.submenu
				li.dropdown(role='presentation')
					a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false')
						span 1
						strong Look Before You Buy!
					ul.dropdown-menu(role='menu')
						p.subtext Browse through our online gallery and take a close look at our facility.
						a.readmore(href="#") Read More
							i.fa.fa-chevron-circle-right
				li.dropdown(role='presentation')
					a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false')
						span 2
						strong How Much Space Do You Need?
					ul.dropdown-menu(role='menu')
						p.subtext Not sure how much space you might need? Click here for our FREE size estimator tool!
						a.readmore(href="#") Read More
							i.fa.fa-chevron-circle-right
				li.dropdown(role='presentation')
					a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false')
						span 3
						strong How Much Will it Cost?
					ul.dropdown-menu(role='menu')
						p.subtext Looking for the best possible self storage rate? Hints &amp; tips for getting the best rates.
						a.readmore(href="#") Read More
							i.fa.fa-chevron-circle-right
				li.dropdown(role='presentation')
					a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false')
						span 4
						strong Arrange Help with Removal &amp; Packing
					ul.dropdown-menu(role='menu')
						p.subtext See how Attic can help ease the strain and make your move less stressful.
						a.readmore(href="#") Read More
							i.fa.fa-chevron-circle-right
				li.dropdown(role='presentation')
					a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false')
						span 5
						strong Online Armchair Check-in!
					ul.dropdown-menu(role='menu')
						p.subtext Check in from the comfort of your own home! Coming soon...
						a.readmore(href="#") Read More
							i.fa.fa-chevron-circle-right
			hr
			.row
				.col-md-9
					h3 London Self Storage
					h4 Book your packaging, removal and self storage in London with us today.
					p Attic Self Storage is London's premier independent self storage operator for home storage and business storage. Fully accredited, our award winning service makes us the first choice for all our clients, and the wealth of our written self storage testimonials speaks for itself.
					a.readmore(href="#") Read More
						i.fa.fa-chevron-circle-right
				img.col-md-3.img-responsive(src="http://sulcalibur.com/uploads/Screen-Shot-2015-06-05-21-08-19-Sj/Screen-Shot-2015-06-05-21-08-19.png")
			hr
			.row
				.col-sm-12.col-md-5.fleft
					img.fleft.col-xs-3.col-md-3.svg(src="img/24icon.svg")
					h4 Personal Storage - 24hr
					p Our personal storage units offer complimentary 24hr access. That means you get 24hr, 365 days a year access to your personal belongings. Easy access, any time, any day!
					a.readmore(href="#") Read More
						i.fa.fa-chevron-circle-right
				.col-sm-12.col-md-5.fleft
					img.fleft.col-xs-3.col-md-3.svg(src="img/lockicon.svg")
					h4 Totally Secure Storage
					p Our storage facility is protected by the latest in contemporary self storage security systems, enhanced by our own systems and processes. Find out more about our secure storage facility
					a.readmore(href="#") Read More
						i.fa.fa-chevron-circle-right
				img.col-md-2.img-responsive(src="http://www.feefo.com/feefo/feefologo.jsp?logon=www.atticstorage.co.uk&template=independent_service-percentage-stars-grey-150x150_en.png")
			hr
	include templates/includes/_footer