extends _master
append _config
	- var PageTitle = "London Storage | Self Storage London | Attic Self Storage"
	- var jQuery = false
	- var Modernizr = false
	- var PageSlug = "AwesomePage"
block body
	body
		include templates/includes/_header
		.breadfull
			.container
				ol.breadcrumb
					li You are here:
					li
						a(href='#') Home
					li.active Our Service
		.container
			.row
				section.content.col-md-9.fright.subpage
					h2 Our Self Storage Service
					h3 What is Self Storage?
					p.col-md-7 Self storage refers to the process of renting individual personal storage units within a secure self storage facility, for the use of home storage or business storage.
					p.col-md-7 Attic Self Storage operates a modern secure storage facility in East London which is equipped to cater for both short and long term London storage.
					.clear
					.row
						button.btn.btn-warning.col-md-2.col-xs-12(type='button') Get a Quote
							span.fa.fa-chevron-circle-right
						.col-md-10
							i.fa.fa-phone-square.fa-2x.fleft
							h4.fleft Or call us now on 020 8981 6800
					h3 Why you should use Attic Self Storage!
					ul
						li A well-lit, well maintained, dry and safe, modern storage facility.
						li Easy access to 24 hour storage day or night 24/7
						li Secure Storage with the latest CCTV cameras and monitoring systems.
						li A large choice of storage units to fit your budget.
						li Many deals and storage offers to choose from.
						li Prepayment discounts for storage over 6 months.
						li Private, personal access to your storage units by PIN.
						li Insurance cover for actual loss, destruction, or damage to to property.
						li The supply of boxes and packing materials on request.
						li We offer a range of extra business services.
						li Free Van hire service for some storage units.
						li First class customer service from an Award Winning team!
					h3 How to reserve and start using your self storage
					ul
						li Call our trained and friendly staff, or use our website for a no obligation quote.
						li Reserve your space, no charge or commitment.
						li Order boxes and packing materials to be delivered to your door.
						li Arrange for transport or hire a van to move your goods into store.
						li Come to the store with your belongings to sign the storage licence agreement.
				include templates/includes/_sidebar
		include templates/includes/_footer