@mixin topgradient {
	background: rgb(8,103,99); /* Old browsers */
background: -moz-linear-gradient(top, rgb(8,103,99) 0%, rgb(2,61,58) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(8,103,99)), color-stop(100%,rgb(2,61,58))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(8,103,99) 0%,rgb(2,61,58) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(8,103,99) 0%,rgb(2,61,58) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(8,103,99) 0%,rgb(2,61,58) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(8,103,99) 0%,rgb(2,61,58) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#086763', endColorstr='#023d3a',GradientType=0 ); /* IE6-9 */
}

@mixin diaggradient {
	background: rgb(2,61,58); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(2,61,58) 0%, rgb(0,102,98) 26%, rgb(20,103,101) 51%, rgb(2,61,58) 84%, rgb(2,61,58) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(2,61,58)), color-stop(26%,rgb(0,102,98)), color-stop(51%,rgb(20,103,101)), color-stop(84%,rgb(2,61,58)), color-stop(100%,rgb(2,61,58))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgb(2,61,58) 0%,rgb(0,102,98) 26%,rgb(20,103,101) 51%,rgb(2,61,58) 84%,rgb(2,61,58) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgb(2,61,58) 0%,rgb(0,102,98) 26%,rgb(20,103,101) 51%,rgb(2,61,58) 84%,rgb(2,61,58) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgb(2,61,58) 0%,rgb(0,102,98) 26%,rgb(20,103,101) 51%,rgb(2,61,58) 84%,rgb(2,61,58) 100%); /* IE10+ */
background: linear-gradient(135deg, rgb(2,61,58) 0%,rgb(0,102,98) 26%,rgb(20,103,101) 51%,rgb(2,61,58) 84%,rgb(2,61,58) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023d3a', endColorstr='#023d3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin altgradient {
	background: rgb(30,123,120); /* Old browsers */
background: -moz-linear-gradient(top, rgb(30,123,120) 0%, rgb(26,84,81) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(30,123,120)), color-stop(100%,rgb(26,84,81))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(30,123,120) 0%,rgb(26,84,81) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(30,123,120) 0%,rgb(26,84,81) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(30,123,120) 0%,rgb(26,84,81) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(30,123,120) 0%,rgb(26,84,81) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e7b78', endColorstr='#1a5451',GradientType=0 ); /* IE6-9 */
}

@mixin darkgradient {
	background: rgb(2,51,49); /* Old browsers */
background: -moz-linear-gradient(top, rgb(2,51,49) 0%, rgb(1,34,33) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(2,51,49)), color-stop(100%,rgb(1,34,33))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(2,51,49) 0%,rgb(1,34,33) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(2,51,49) 0%,rgb(1,34,33) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(2,51,49) 0%,rgb(1,34,33) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(2,51,49) 0%,rgb(1,34,33) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023331', endColorstr='#012221',GradientType=0 ); /* IE6-9 */
}

@mixin orangegrad {
	background: rgb(239,172,86); /* Old browsers */
background: -moz-linear-gradient(top, rgb(239,172,86) 0%, rgb(217,112,28) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(239,172,86)), color-stop(100%,rgb(217,112,28))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(239,172,86) 0%,rgb(217,112,28) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(239,172,86) 0%,rgb(217,112,28) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(239,172,86) 0%,rgb(217,112,28) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgb(239,172,86) 0%,rgb(217,112,28) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efac56', endColorstr='#d9701c',GradientType=0 ); /* IE6-9 */
}