// Colours
$primary: RGB(2, 58, 56);
$secondary: RGB(20, 116, 113);
$tertery: RGB(50, 157, 152);
$sub1: RGB(113, 202, 196);
$sub2: RGB(248, 143, 49);

$dark: RGB(2, 61, 58);
$light: RGB(8, 103, 99);
$darkorange: RGB(217, 112, 28);
$lightorange: RGB(251, 147, 61);

$textdefault: RGB(56, 56, 56);

// Fonts
$base-font-size: 16px; // 1rem / 100%
$font-family: ;